<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <style>
           
   
        
    </style>

</head>
<body>
    <div class="container">
        <h1>Iniciar Sesión</h1>
        <form method="post" class="form-card">
            {% csrf_token %}
            <p>
                <label for="id_username">Usuario:</label>
                <input type="text" name="username" id="id_username" required>
            </p>
            <p>
                <label for="id_password">Contraseña:</label>
                <input type="password" name="password" id="id_password" required>
            </p>
            <button type="submit" class="button">Entrar</button>
        </form>
        <p class="login-link">¿No tienes una cuenta? <a href="/registro/">Regístrate</a></p>
    </div>
    <script>
        
  

    </script>
</body>
</html>