<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Colaborador</title>
    <style>
    
    </style>
</head>
<body>
    <div class="container">
        <h1>Registrarse</h1>
        <form method="post" class="form-card">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Crear Cuenta</button>
        </form>
        <p class="login-link">¿Ya tienes una cuenta? <a href="/cuentas/login/">Inicia Sesión</a></p>
    </div>
    <script>

    </script>
</body>
</html>